:root {
  --theme: #e7fffa;
  --base-len: 16px;
}

body {
  background-color: var(--theme);
  margin: 0;
  font-family: "Segoe UI", "Microsoft YaHei UI", sans-serif;
}

.float {
  background-color: white;
  box-shadow: 0 0 10px black;
  z-index: 20;
  border-radius: var(--base-len);
  opacity: 0;
  transition: opacity .15s;
  display: none;
}

button.large {
  padding: 8px 12px;
  color: black;
  background-color: #479dff;
  box-shadow: 0.5px 0.5px 4.5px black;
  border: none;
  border-radius: 8px;
  transition: box-shadow .15s;
}

button.large:hover {
  box-shadow: 0.8px 0.8px 4.5px black;
}

button.large.secondary {
  color: black;
  background-color: white;
  box-shadow: 0.5px 0.5px 0.5px black;
  border: 1px solid #479dff;
  transition: box-shadow .15s, background-color .15s;
}

button.large:hover {
  box-shadow: 0.8px 0.8px 4.5px black;
  background-color: #479dff;
}